<h1 class = "text-center font-weight-bold">All posts</h1>
<div class = "container">
  <%@posts.each do |post| %>
    <div class="card text-center w-80 mb-5 bg-secondary">
      <div class="card-header">
        <% if user_signed_in? %>
          <h3><%= post.user.name %></h3>
        <% end %>
      </div>
      <div class="card-body mb-3">
        <h3 class="card-title"><%= post.title %></h3>
        <a href="#" class="btn btn-primary">Show Post</a>
      </div>
    </div>
  <% end %>
</div>


